

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family:'Space Grotesk',sans-serif ;
      
}
 
 body {
    background-image: url(image/wp6897807.webp);
    height: 100vh;
    background-size: cover;
    height: 1000px;
}

 
.slide{
    height: 100%;
    width: 180px;
    position:absolute;
    background-color: #faf7ef;
    transition: 0,5s ease ;
    transform: translateX(-180px);
} 

h1{
    color: #5f8e36;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;  
    padding-right: 30px;
    pointer-events: none;
    margin-right: auto;
}
ul li{
    list-style: none;
}
ul li a{
    color: #000;
    font-weight: 200;
    padding: 5px 0;
    display:block;
    text-transform: capitalize; 
    text-decoration: none;
    transition: 0,2s ease-out;
}
ul li:hover a{
    color: #ffffff;
    background-color: #5f8e36;
}

ul li a i {
    width: 40px;
    text-align: center;
}
input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 15px;
    left: 10px;
    z-index:1 ;
    cursor: pointer;
    border-radius: 2px;
    background-color:rgba(243, 243, 243, 0.815) ;
    box-shadow: 0 0 10px black ;
}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color:#5f8e36;
    border-radius: 50px;
    transition: 0,3s ease;
}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .middle_line{
    top: 50%;
    right:  5%;
    transform: translate(-50%,-50%);
}
.toggle .bottom_line{
    top: 70%;
    left: 50% ;
    transform: translate(-50%,-50%);
}
input:checked ~ .toggle .top_line{
    left: 10px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom_line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
} 
input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translate(20px);
}
input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 15px #000;

}

.logo{
   
    height: 100px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 100%;
}
.logo img {
    border: #fdfdfd 3px solid;
    height: 80px;
    border-radius: 50%;
    width: 80px;
}
.logo p{
    padding: 10px;
    text-align: center;
    color: #5f8e36;
   font-size: 30px;
}

#top {
    height: 500px;
    width: 100%;
    background-image: url(image/wp6897807.webp);
    background-size: cover;
}
 #middle {
    height: 1000px;
    width: 100%;
    background-color: aqua;
}
 #bottom{
height: 500px;
width: 100%;

background-color: brown;
}